<%
change_month_flag = false
change_day_flag = false
change_hour_flag = false
month = -1
day = -1
hour = -1
loop_count = 0

@actions.each do |action|

	change_month_flag = false
	change_day_flag = false
	change_hour_flag = false
	if action.act_time.month != month
		change_month_flag = true
		month = action.act_time.month
	end
	if action.act_time.day != day
		change_day_flag = true
		day = action.act_time.day
	end
	if (((action.act_time.hour*60)+action.act_time.min) - hour) <= -30
		change_hour_flag = true
	end
	hour = (action.act_time.hour*60) + action.act_time.min

	if loop_count != 0 && (change_hour_flag == true || change_day_flag == true || change_month_flag == true)%>
			</blockquote>
		</ul>
	<%end
	if loop_count == 0 || change_month_flag == true || change_day_flag == true%>
		<h4><%= action.act_time.in_time_zone('Tokyo').strftime('%1m月%1d日 %1H時%1M分頃')%></h4>
		<ul>
			<blockquote>
	<% elsif change_hour_flag == true %>
		<h4><%= action.act_time.in_time_zone('Tokyo').strftime('%1H時%1M分頃')%></h4>
		<ul>
			<blockquote>
	<% end %>
		<%= render :partial=>"one_action", :locals=>{:action=>action} %>
	<% loop_count = loop_count + 1
end %>
			</blockquote>
		</ul>