<h4><%= image_tag(@user.image, :size => "28x28", :alt => "アイコン")%> <%= @user.name %>さんのページ</h4>
<% if @actions.present? %>
	<%= render 'timeline' %>
<% else %>
	まだ行動が書かれていません。<br>
	ほめるボタンから<%= @user.name %>の行動を書いてみましょう！
<% end %>