<div class="alert alert-dismissable alert-info one_notification" data-id="<%= notification.id %>">
	<div class="icon">
		<i class="fa fa-arrow-circle-o-up"></i>
	</div>
	<div class="content">
		レベル<%= notification.level.level %>になりました<br>
		称号「<%= notification.level.degree %>」をゲット！
	</div>
	<button type="button" class="close dismiss" data-dismiss="alert">×</button>
</div>